* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.wrapper .container {
  background-color: white;
  height: 80vh;
  width: 50vh;
  top: 50vh;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 6px black;
          box-shadow: 2px 2px 6px black;
}
.wrapper h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3vh;
  font-size: 30px;
}
.wrapper p {
  text-align: center;
  margin-left: 5vh;
  margin-right: 5vh;
  color: rgb(88, 87, 87);
}
.wrapper .music {
  height: 10vh;
  width: 40vh;
  background-color: hsl(225deg, 10%, 94%);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 3vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper .music h5 {
  padding: 10px;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.wrapper .music .change {
  position: absolute;
  right: 30px;
  text-decoration: underline;
  color: rgb(8, 8, 145);
  font-weight: bold;
}
.wrapper .music-foto {
  height: 60px;
  width: 60px;
  position: absolute;
  left: 8vh;
}
.wrapper .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50vh;
  height: 10vh;
  margin: 0 auto;
  padding: 90px;
}
.wrapper button {
  width: 360px;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
  color: rgb(123, 124, 124);
  border-color: transparent;
  background-color: #fff;
}
.wrapper .button-payment {
  background-color: hsl(223deg, 88%, 30%);
  color: #fff;
  -webkit-box-shadow: 0 3px 10px black;
          box-shadow: 0 3px 10px black;
}

img {
  width: 50vh;
  height: 30vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@media screen and (max-width: 1440px) {
  button {
    width: 50px;
    height: 40px;
    font-size: 8px;
  }
}
@media screen and (max-width: 500px) {
  button {
    width: 40px;
    height: 30px;
    font-size: 8px;
    color: aqua;
  }
}/*# sourceMappingURL=style.css.map */